{% extends 'base/base.html' %}

{% block title %}Inicio{% endblock title %}

{% block contenido_cuerpo %}    
    <section>
        <div class="cuerpo-encabezado">
            <div class="cuerpo-titulo">
                <h1>KEVIN CODER</h1>
            </div>
            <div class="cuerpo-texto">
                <p>sobrepasando metas y objetivos</p>
            </div>
        </div>
        <div class="cuerpo-tarjetas">
            <div class="cuerpo-tarjeta-ayuda">
                <h4>ayuda</h4>
                <P>¿Necesitas más información sobre nuestros proyectos?</P>
                <a href="#">mas información</a>
            </div>
            <div class="cuerpo-tarjeta-bienvenido">
                <h4>bienvenido</h4>
                <p>¿Qué estás esperando para subir tus archivos?</p>
                <a href="{{ url_for('inicio_sesion') }}">Empezar</a>
            </div>
            <div class="cuerpo-tarjeta-cuenta">
                <h4>cuenta</h4>
                <p>Todo lo que necesitas es una cuenta para empezar a subir tus archivos</p>
                <a href="{{ url_for('registro') }}">Registrarse</a>
                <a href="{{ url_for('inicio_sesion') }}">Ingresar</a>
            </div>
        </div>
    </section>
{% endblock contenido_cuerpo %}
